<!-- Start Contact -->
<div class="container py-5 h-100">
  <div class="row p-5">
    <div class="h-100 py-5 shadow">
      <div class="row p-5">
        <div class="col-12 col-md-4" style="">
        </div>
        <div class="col-12 col-md-4">
          <div class="text-center">
            <h1>404</h1>
            <h4>Página no encotrado.</h4>
            <p class="py-2">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae
              commodi a quis voluptates molestias harum earum quibusdam
              veritatis doloremque vero.
            </p>
            <a href="/" class="btn btn-warning h5 text-center" role="button">Ir
              a inicio</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Contact -->