<style>
  .img-preview { width: 450px; height: 450px; border-radius: 1em; box-shadow:
  4px 3px 11px 4px rgba(0,0,0,0.36); -webkit-box-shadow: 4px 3px 11px 4px
  rgba(0,0,0,0.36); -moz-box-shadow: 4px 3px 11px 4px rgba(0,0,0,0.36); }
  .preview-container { background-color: azure; color: white; padding: 3em; /*
  From https://css.glass */ /* From https://css.glass */ background: rgba(74,
  74, 74, 0.38); border-radius: 16px; box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.4px); -webkit-backdrop-filter: blur(1.4px); border:
  1px solid rgba(255, 255, 255, 0.27); } .preview-container h1 { color:
  rgba(0,0,0,.6); background-color: #dadada; text-shadow: rgba(0,0,0,.2) 2px 6px
  5px,rgba(255,255,255,.4) 0 -4px 30px; text-align: center; }

</style>
<!-- Start Banner Hero -->
<div
  id="elmachin-___carousel"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <ol class="carousel-indicators">
    <li
      data-bs-target="#elmachin-___carousel"
      data-bs-slide-to="0"
      class="active"
    ></li>
    <li
      data-bs-target="#elmachin-___carousel"
      data-bs-slide-to="1"
    ></li>
    <li
      data-bs-target="#elmachin-___carousel"
      data-bs-slide-to="2"
    ></li>
  </ol>
  <div
    class="carousel-inner"
    style="background-image: url('./img/img01.jpg'); color: white;"
  >
    <div class="carousel-item active">
      <div class="container">
        <div class="row p-5">
          <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
            <img
              class="img-fluid img-preview"
              src="./img/preview0.jpg"
              alt=""
            />
          </div>
          <div class="col-lg-6 mb-0 d-flex align-items-center">
            <div class="text-align-left preview-container">
              <h1 class="h1">Tenis deportivos</h1>
              <p>
                Encuentra increíbles descuentos en tenis Nike, adidas, Puma, Under Armour y más de las mejores marcas durante el buen fin 2022, del 18 al 21 de noviembre.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="row p-5">
          <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
            <img
              class="img-fluid img-preview"
              src="./img/preview06.jpg"
              alt=""
            />
          </div>
          <div class="col-lg-6 mb-0 d-flex align-items-center">
            <div class="text-align-left preview-container">
              <h1 class="h1">Playeras</h1>
              <p>
                Elige las mejores playeras y ponte a la moda con estos diseños y estampados para hombre, playeras a la moda, playeras de licencias o sin mangas.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="row p-5">
          <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
            <img
              class="img-fluid img-preview"
              src="./img/preview07.jpg"
              alt=""
            />
          </div>
          <div class="col-lg-6 mb-0 d-flex align-items-center">
            <div class="text-align-left preview-container">
              <h1 class="h1">Shorts</h1>
              <p>
               Siéntete fresca y cómoda con lo más trendy en bermudas y shorts para mujer. Encuentra estilos casuales, estampados, a la cintura y los modernos mom fit.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="row p-5">
          <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
            <img
              class="img-fluid img-preview"
              src="./img/preview08.jpg"
              alt=""
            />
          </div>
          <div class="col-lg-6 mb-0 d-flex align-items-center">
            <div class="text-align-left preview-container">
              <h1 class="h1">Sandalias</h1>
              <h3 class="h2">Ullamco laboris nisi ut </h3>
              <p>
                We bring you 100% free CSS templates for your websites. If you
                wish to support TemplateMo, please make a small contribution via
                PayPal or tell your friends about our website. Thank you.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a
    class="carousel-control-prev text-decoration-none w-auto ps-3"
    href="#elmachin-___carousel"
    role="button"
    data-bs-slide="prev"
  >
    <i class="fas fa-chevron-left"></i>
  </a>
  <a
    class="carousel-control-next text-decoration-none w-auto pe-3"
    href="#elmachin-___carousel"
    role="button"
    data-bs-slide="next"
  >
    <i class="fas fa-chevron-right"></i>
  </a>
</div>
<!-- End Banner Hero -->

<!-- Start Section -->
<section class="container py-5">
  <div class="row text-center pt-5 pb-3">
    <div class="col-lg-6 m-auto">
      <h1 class="h1">Nuestros Servicios</h1>
      <p>
        Contamos con alta experiencia en atención al cliente.
      </p>
    </div>
  </div>
  <div class="row">

    <div class="col-md-6 col-lg-3 pb-5">
      <div class="h-100 py-5 iconos-hamburguesa shadow">
        <div class="h1 text-success text-center"><i
            class="fa fa-shopping-bag"
          ></i></div>
        <h2 class="h5 mt-4 text-center">Compras en tienda</h2>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 pb-5">
      <div class="h-100 py-5 iconos-hamburguesa shadow">
        <div class="h1 text-success text-center"><i
            class="fas fa-exchange-alt"
          ></i></div>
        <h2 class="h5 mt-4 text-center">Compra y devolución</h2>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 pb-5">
      <div class="h-100 py-5 iconos-hamburguesa shadow">
        <div class="h1 text-success text-center"><i
            class="fa fa-percent"
          ></i></div>
        <h2 class="h5 mt-4 text-center">Promociones</h2>
      </div>
    </div>

    <div class="col-md-6 col-lg-3 pb-5">
      <div class="h-100 py-5 iconos-hamburguesa shadow">
        <div class="h1 text-success text-center"><i
            class="fa fa-credit-card"
          ></i></div>
        <h2 class="h5 mt-4 text-center">Pago tarjeta de crédito y debito</h2>
      </div>
    </div>
  </div>
</section>
<!-- End Section -->

