<style> @import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;600&display=swap'); </style>

<style>
  .titulo-web {
    font-family: 'Cormorant SC', serif;
  }
</style>
<!-- Start Top Nav -->
<nav
  class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block"
  id="elmachin_nav_top"
>
  <div class="container text-light">
    <div class="w-100 d-flex justify-content-between">
      <div>
        <i class="fa fa-envelope mx-2"></i>
        <a
          class="navbar-sm-brand text-light text-decoration-none"
          href="mailto:wuexa_88@yahoo.com.mx"
        >wuexa_88@yahoo.com.mx</a>
        <i class="fa fa-phone mx-2"></i>
        <a
          class="navbar-sm-brand text-light text-decoration-none"
          href="tel:+523222933176"
        >+52 322 2933 176</a>
      </div>
      <div>
        <a
          class="text-light"
          href="https://www.facebook.com/boutiqueelmachin"
          target="_blank"
          rel="sponsored"
        ><i class="fab fa-facebook-f fa-fw me-2"></i>boutique el machin</a>
      </div>
    </div>
  </div>
</nav>
<!-- Close Top Nav -->

<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light shadow">
  <div class="container d-flex justify-content-between align-items-center">

    <a class="navbar-brand text-success logo h1 align-self-center titulo-web" href="/">
      Boutique El Machin
    </a>

    <button
      class="navbar-toggler border-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#container_main_nav"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="align-self-center collapse navbar-collapse flex-fill d-lg-flex justify-content-lg-between"
      id="container_main_nav"
    >
      <div class="flex-fill">
        <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
          <li class="nav-item">
            <a class="nav-link" href="/inicio">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tienda">Tienda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contacto">Contacto</a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</nav>
<!-- Close Header -->